.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.car-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.car-details img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.car-details h3 {
  margin: 0;
  font-size: 1.5rem;
}

.car-details p {
  margin: 5px 0;
}

.formmodal {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input,
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
